@model IEnumerable<SchoolMVC.Models.ClassModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classRoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfStudentsInClass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.classRoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfStudentsInClass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.classRoomNo }) 
            @Html.ActionLink("Details", "Details", new { id=item.classRoomNo }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.classRoomNo })
        </td>
    </tr>
}

</table>
